.addImage
{
  visibility: visible;
    position: relative;
    width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
}
.changeImage
{
    src: url('peony.webp');
    position: relative;
    width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;

}

